<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pontos de Interesse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/praiaFluvial.png" />
    <ion-card-header>
      <ion-card-title>Praia Fluvial Zé do Rio</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/quintaCurvos.png" />
    <ion-card-header>
      <ion-card-title>Quinta de curvos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/piscinas.png" width="500px" />
    <ion-card-header>
      <ion-card-title>Piscinas Foz do Cávado</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/igreja.png" width="500px" />
    <ion-card-header>
      <ion-card-title>Igreja Matiz</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/capelaSaoRoque.png" width="500px" />
    <ion-card-header>
      <ion-card-title>Capela de S.Roque</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/capelaSantana.png" width="500px" />
    <ion-card-header>
      <ion-card-title>Capela de Nossa Senhora da Graça</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/pregais.png" />
    <ion-card-header>
      <ion-card-title>Solar de pregais</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/junta.jpg" />
    <ion-card-header>
      <ion-card-title>Centro Cultural Rodrigues de Faria</ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>
