<ion-header>
  <ion-toolbar>
    <ion-title>gastronomia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p><b>Forjães</b> é, indubitavelmente, uma terra associada ao peixe devido á sua localização ser próxima do mar. Contudo, é uma pequena Vila do litoral minhoto onde a carne também faz parte da sua tradição.
    O vinho verde da Quinta de Curvos é o que prevalece na região.
    </p>

</ion-content>

<ion-footer>
  <img src="assets/zeleitoes.png" >
  <img src="assets/zeleitoesinterior.jpg" >
</ion-footer>
