<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alojamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Forjães dispõe de vários alojamentos locais onde os visitantes poderão ser acomodados e desfrutar da Natureza, da paisagem e de todos os serviços que a freguesia oferece.
    Entre eles encontramos a casa do rabeta, a casa do Matinho, a quinta dos Castanheiros…</p>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/casaRabeta.png" width="500px" />
      <ion-card-header>
        <ion-card-title>Casa da rabeta</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/casaMatinho.png" />
      <ion-card-header>
        <ion-card-title>Casa do Matinho</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/casaCastanheiros.png" width="500px" />
      <ion-card-header>
        <ion-card-title>Quinta dos Castanheiros</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
