<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personalidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="marginLateral">
  <p>  António Rodrigues de Faria foi uma pessoa muito importante para Forjães, foi ele que tomou a iniciativa de construir uma escola porque, ele queria que as crianças tivessem um reconhecimento sobre a aprendizagem escolar. Com tudo isto , agora a escola que ele construíra é um posto de correios mas, ainda tem uma forma de salas de aula , espaço teatral .</p>

  <p>Biografia:</p>
<p><em><strong>António Rodrigues Alves de Faria</strong> nasceu a 06 de Abril de 1871, em Forjães, vindo a falecer na mesma freguesia em 10 de Agosto de 1949.</em></p>
<p><em>Rodrigues de Faria, como ficou conhecido, foi o oitavo dos treze filhos de Manuel Alves de Faria e de Joana Gonçalves Viana. Frequentou a escola primária de S. Paio d’Antas, em virtude de nessa altura ainda não haver ensino oficial na sua terra natal.</em></p>
<p><em>Ainda muito novo, por volta dos 14 anos, foi para o Brasil. Aí teve sucesso como empresário dedicando-se ao comércio e à exploração de sal em larga escala. Por volta de 1909 fundou uma grande empresa de nome Companhia de Comércio e navegação.</em></p>
<p><em>Fez grande fortuna, tendo-se distinguido como um grande benfeitor para a educação; mandou construir um edifício escola, em 1934, oferecendo-o depois ao estado – é o edifício ainda hoje existente “Escolas Rodrigues de Faria” em Forjães.</em></p>
<p><em>No âmbito da assistência social e da saúde, ajudou a construir o Hospital S. Manuel e mais tarde contribuiu com uma soma que ia além de 5 contos e que era devido a ele, talvez, que a obra do hospital (Valentim Ribeiro – Esposende) tinha chegado até ao fim, […] além do rico arsenal cirúrgico com que a mão dadivosa de Rodrigues Faria dotou o Hospital” [2] , para além de enormes contributos na sua terra natal nomeadamente no combate à pneumonia, por volta dos anos de 1919 – 1920. A sua ajuda à população era constante, sendo de assinalar a sua generosa contribuição para a construção de diversos caminhos e estradas.</em></p>
<p><em>A população em muito beneficiou no trabalho criado em resultado do seu entretenimento na exploração agrícola – nomeadamente na sua quinta, hoje conhecida por quinta dos Curvos &#8211; criando assim emprego numa época em que a pobreza e o desemprego eram grandes.</em></p>
<p><em>Em resultado dos benefícios por ele concedidos, o Estado Português pretendeu atribuir-lhe uma ordem honorífica, tendo no entanto Rodrigues de Faria, recusado tal distinção.</em></p>
<p><em>Considerado o maior benemérito de Forjães e um dos maiores do concelho de Esposende. [3]</em></p>
<p><em>  Assim se conta a história de uma das maiores figuras do concelho de Esposende:</em></p>
<p><em>ANTÓNIO RODRIGUES ALVES DE FARIA &#8211; </em><em>1871/1949</em></p>

</div>
<img class="rounded" src="assets/rodriguesfaria.jpg">

</ion-content>