<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informações Gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="marginLateral">
    <p>Forjães é uma freguesia portuguesa do concelho de Esposende, situada na região norte do país, mais especificamente no distrito de Braga. É uma pequena cidade com uma população de cerca de 2.500 habitantes, distribuídos em uma área de cerca de 10 quilômetros quadrados.</p>
    <p>Forjães é conhecida pela sua paisagem rural e pela produção de vinho verde, uma especialidade da região. Os visitantes podem desfrutar de passeios pelas vinhas, provar o vinho local e apreciar a beleza da paisagem natural.</p>
    <p>Além disso, a freguesia possui várias igrejas e capelas antigas, como a Igreja de Santa Marinha de Forjães, a capela de São Roque e a capela da Santana que remonta ao século XII. Outros locais de interesse incluem o Museu de Forjães, que apresenta exposições sobre a vida rural na região, e o Parque de Merendas de Forjães, um local popular para piqueniques e passeios em família.</p>
    <p>Em termos de acesso, Forjães está localizada a cerca de 50 quilômetros a norte de Braga e a 20 quilômetros a sul de Viana do Castelo, com boas ligações rodoviárias e ferroviárias para outras cidades da região. No geral, é uma cidade tranquila e pitoresca, perfeita para quem procura uma pausa da agitação das grandes cidades e quer desfrutar da beleza natural e do património cultural da região.</p>
  </div>
  <div style="text-align: center;">
    <img src="assets/junta.jpg" >
  </div>
</ion-content>
