<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informações Gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="marginLateral">
    <p>
    Situada no vale inferior do Rio Neiva, Forjães é uma terra de fronteira. A Norte, o rio
    separa-a, em parte, da freguesia de Alvarães, do distrito de Viana do Castelo; a Nascente e
    Sudeste são as freguesias de Fragoso, Aldreu e Palme que lhe recordam que, em era não
    muito distantes, também ela já fez parte do concelho de Barcelos . A Poente está a
    freguesia de S. Paio de Antas, para Sul, no planalto estende-se a freguesia de Vila Chã.
    A Vila de Forjães, localizada no concelho de Esposende, Portugal, tem origens que
    remontam à época romana. Existem várias teorias sobre a sua fundação, mas não há uma
    versão definitiva.</p>
    <p>Uma das teorias sugere que o nome Forjães deriva do latim "fornacis", que significa
    "fornalha". Supostamente, existiriam forjas romanas nesta área, onde se produziam objetos
    em ferro. No entanto, não há evidências arqueológicas que confirmem esta teoria.
    Outra teoria aponta para a presença de um castro pré-romano neste local, que teria sido
    posteriormente romanizado. A existência de uma ponte romana, ainda hoje visível no rio
    Neiva, reforça esta hipótese.</p>
    <p>Com o passar dos anos, Forjães foi crescendo e desenvolvendo-se, graças à atividade
    agrícola e à produção de linho e de outros produtos têxteis. Em 1836, tornou-se sede de
    freguesia, e em 1991 foi elevada à categoria de vila.
    Hoje em dia, Forjães é uma vila com uma forte identidade cultural e patrimonial, que
    preserva as suas tradições e costumes.
    </p>
  </div>
  <div style="text-align: center;">
    <img src="assets/junta.jpg" >
  </div>
</ion-content>
