<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Curiosidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Sob o ponto de vista etnográfico, tendo  grande significado no campo económico, Forjães possui uma indústria, do tipo artesanal muito curiosa, ligada ao fabrico de esteiras de junco. Nesta indústria produz-se ainda a célebre cesta de junco. A cesta de Forjães é muito conhecida em toda a região minhota e está grandemente implantada em todo o País e mesmo na vizinha Espanha. O seu fabrico obedece a determinados princípios desde a apanha do junco com todo o seu carácter etnográfico, passando pela cora, pelo enxoframento e tingidura até à fase própria do fabrico da esteira. O tear é uma peça importante embora de estrutura bastante simples.</p>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/junco.png" width="500px" />
    <ion-card-header>
      <ion-card-title>Planta de Junco</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/tear.png" width="500px" />
    <ion-card-header>
      <ion-card-title>O tear</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/cesta.png" width="500px" />
    <ion-card-header>
      <ion-card-title>A cesta</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
