<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informações de Caracterização</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  Na Vila de Forjães existe uma escola de ensino primário, um jardim de infância e uma escola de ensino básico.
</p>
<p>
  Possui também um centro de saúde, uma farmácia, um posto de correios, um banco, um lar para idosos, clínicas de Fisioterapia e dentistas .
</p>
<p>
  Nesta pequena vila encontram-se todos os bens essenciais para o dia a dia das pessoas sem terem  a necessidade de se deslocarem.
</p>
<p>
  Forjães é uma freguesia portuguesa do município de Esposende, com 8,31 km² 
  de área e 2646 habitantes (censo de 2021). 
  A sua densidade populacional é 318,4 hab./km².  
</p>

<table>
  <tr>
    <th>Ano</th>
    <th>População</th>
  </tr>
  <tr>
    <td>1864</td>
    <td>1118</td>
  </tr>
  <tr>
    <td>1878</td>
    <td>1240</td>
  </tr>
  <tr>
    <td>1890</td>
    <td>1199</td>
  </tr>
  <tr>
    <td>1900</td>
    <td>1313</td>
  </tr>
  <tr>
    <td>1911</td>
    <td>1515</td>
  </tr>
  <tr>
    <td>1920</td>
    <td>1595</td>
  </tr>
  <tr>
    <td>1930</td>
    <td>1979</td>
  </tr>
  <tr>
    <td>1940</td>
    <td>1847</td>
  </tr>
  <tr>
    <td>1950</td>
    <td>1954</td>
  </tr>
  <tr>
    <td>1960</td>
    <td>2230</td>
  </tr>
  <tr>
    <td>1970</td>
    <td>2177</td>
  </tr>
  <tr>
    <td>1981</td>
    <td>2243</td>
  </tr>
  <tr>
    <td>1991</td>
    <td>2497</td>
  </tr>
  <tr>
    <td>2001</td>
    <td>2577</td>
  </tr>
  <tr>
    <td>2011</td>
    <td>2767</td>
  </tr>
  <tr>
    <td>2021</td>
    <td>2646</td>
  </tr>
</table>
</ion-content>
