#container {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#container p {
  color: #8c8c8c;
}

img.rounded {
  border-radius: 500%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

div.contentRight {
  position: absolute;
  top: 50px;
  right: 0;
}