#container {
  text-align: center;
  margin-top: 20px;
}

#container p {
  color: #8c8c8c;
}

img.rounded {
  border-radius: 500%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

div.contentRight {
  position: absolute;
  top: 50px;
  right: 0;
}

div.contentLeft {
  position: absolute;
  top: 50px;
  left: 0;
}

ion-button {
  width: 200px;
  margin-top: 40px;
  --background: var(--ion-color-forjaes);
}