<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <div id="container">
        <div>
          <img src="assets/i.jpg" class="rounded">
          <div class="contentRight">
            <img src="assets/sliderRight.png">
          </div>
          <div style="padding-top: 20px;">
            <strong>Sérgio Tiago Gomes Serra</strong>
            <p>Olá a todos! Chamo-me Sérgio Tiago Gomes Serra e tenho 20 anos. Estou a frequentar o curso de Engenharia Informática no IPVC e sou um apaixonado por programação. Estou muito entusiasmado por apresentar a minha aplicação sobre a minha terra natal, Forjães.</p>
            <p>A minha aplicação tem como objetivo mostrar a beleza da minha vila e dar a conhecer aos seus visitantes tudo o que Forjães tem para oferecer. Com ela, poderão encontrar informações sobre as atrações locais, eventos e atividades que decorrem na vila, bem como descobrir os melhores lugares para desfrutar da gastronomia local.</p>
            <p>Como nativo de Forjães, sinto um enorme orgulho em partilhar com todos esta aplicação que desenvolvi com muito carinho e dedicação. Espero que possam desfrutar da minha vila tanto quanto eu e que esta aplicação seja útil para todos os que a visitam.</p>
            <p>Agradeço por utilizarem a minha aplicação e espero que desfrutem da vossa estadia em Forjães!</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="contentLeft">
        <img src="assets/sliderLeft.png">
      </div>
      <div>
        <ion-button routerLink="/info">Informações Gerais</ion-button>
        <br>
        <ion-button routerLink="/pontos-interesse">Pontos de interesse</ion-button>
        <br>
        <ion-button routerLink="/gastronomia">Gastronomia</ion-button>
        <br>
        <ion-button>Alojamento</ion-button>
        <br>
        <ion-button>Clubre desportivo</ion-button>
        <br>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer style="text-align: center;">
  <img src="assets/forjaes.png" width="100px">
</ion-footer>
